@import url('https://fonts.googleapis.com/css?family=Blinker&display=swap');

:root {
    --color-black: rgb(23, 26, 32);
    --color-grey: rgb(92, 94, 98);
}

* {
    font-family: Blinker, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-black);
    font-size: 17px;
    letter-spacing: 0.05rem;
}

body {
    background-color: white;
}

.banner {
    width: 100%;
    background-image: radial-gradient(54.97% 272.54% at 27.36% -134.72%,rgba(108,148,255,.92) 0,rgba(0,0,0,.92) 100%);
    display: flex;
    justify-content: center;
    padding: 0.95rem;
    gap: 1rem;
    box-sizing: border-box;
    align-items: flex-end;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: var(--color-black);
}

.banner > * {
    color: white
}

.banner-header {
    font-size: 1.1rem;
    font-weight: 600;
}

.banner-more {
    position: relative;
    font-weight: 200;
}

.banner-more::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    bottom: 0;
    left: 0;
    transition-duration: .5s;
}

.banner-more:hover::after {
    transform: translateY(1px);
    height: 2px;
}

.jumbotron {
    width: 100%;
    height: 100vh;
    background-image: url(./images/Main_Hero_Desktop.avif);
    background-size: 100% 125%;
    background-position-y: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0.8rem 2.8rem;
}

.logo {
    width: 7.5rem;
}

.menu-list {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.menu-list > * {
    font-weight: 600;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
}

.functional-list {
    display: flex;
    gap: 0.8rem;
}

.functional-list > * {
    padding: 0.2rem;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.functional-icon {
    width: 1.5rem;
}

.menu-list > *:hover, .functional-list > *:hover {
    transition: .2s;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.jumbotron-header {
    text-align: center;
    font-size: 2.8rem;
    margin-top: 5rem;
    color: white;
}

.jumbotron-badges {
    position: absolute;
    display: flex;
    gap: 3rem;
    bottom: 3rem;
    align-items: flex-start;
}

.badge {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badge > div {
    color: white;
}

.badge > div:nth-child(2) {
    font-weight: 600;
    font-size: 0.8rem;
}

.jumbotron .button {
    background-color: transparent;
    color: white;
    border: 0.2rem solid white;
    font-weight: 600;
    padding: 0.5rem 3.5rem;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: .2s;
}

.jumbotron .button:hover {
    background-color: white;
    color: var(--color-black);
}

.showcase {
   width: 100%;
   position: relative;
}

.showcase-header {
    position: absolute;
    display: flex;
    gap: 1.8rem;
    margin-left: 23rem;
    top: 4rem;
}

.showcase-header > h2 {
    font-size: 1.8rem;
    flex-shrink: 0;
    letter-spacing: 0.15rem;
}

.showcase-header > p {
    width: 52%;
}

.showcase-header > p, .showcase-header > p > a {
    font-size: 0.95rem;
}

.container {
    width: 100%;
    padding: 0rem 14rem;
    box-sizing: border-box;
}

.benefits {
    display: flex;
    gap: 4rem;
    margin: 4rem;
    color: var(--color-black);
}

.benefits > div {
    flex-basis: calc(100% / 3);
}

.benefits li {
    font-size: 0.9rem;
}

.benefits ul {
    list-style-position: outside;
    margin-left: 2rem;
    margin-top: 1rem;
}

.tabs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.tabs {
    display: flex;
    gap: 1.5rem;
    padding: 4rem 8rem;
}

.tab {
    flex-basis: calc(100% / 3);
    border-top: 0.2rem solid var(--color-black);
}

.tab > div:nth-child(1) {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.subcontainer {
    width: 80%;
    margin: 0 auto;
}

.layout {
    display: flex;
    gap: 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.layout h2 {
    flex-shrink: 0;
    font-size: 1.4rem;
}
